{% extends 'App::layout.html.twig' %}

{% block title 'Capifony training' %}

{% block headTitle 'Capifony training' %}

{% block headSubtitle %}
    Deploy your Symfony2 application easily
{% endblock %}

{% block container %}
    <p>
        As you can see this application does nothing, just say hello to you. Next
        step is to <strong>deploy this app !</strong>
    </p>
{% endblock %}
