<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
        <link href="http://bootswatch.com/cosmo/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>{% block headTitle '' %}</h1>
                <h2><small>{% block headSubtitle '' %}</small></h2>
            </div>
            {% block container '' %}
            <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
        </div>
    </body>
</html>
